[0:v]zmq@ctl=bind_address=tcp\\://127.0.0.1\\:__PORT__,
drawbox@box=x=20:y=20:w=100:h=60:color=0xFF0000:t=fill,
eq@eq=eval=__EVAL__:brightness=0.0:saturation=1.0:contrast=1.0,
hue@hue=h=0:s=1,
format=yuv420p[v]
